################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


Demo/ConsoleDaprDemo/obj/Debug/net6.0/refint/ConsoleDaprDemo.dll
Demo/ConsoleDaprDemo/bin/Debug/net6.0/ConsoleDaprDemo.dll
Demo/ConsoleDaprDemo/bin/Debug/net6.0/ConsoleDaprDemo.pdb
Demo/ConsoleDaprDemo/obj/Debug/net6.0/ConsoleDaprDemo.dll
Demo/ConsoleDaprDemo/obj/Debug/net6.0/ConsoleDaprDemo.pdb
Demo/ConsoleDaprDemo/obj/Debug/net6.0/ref/ConsoleDaprDemo.dll
Demo/ConsoleDaprDemo/obj/Debug/net6.0/refint/ConsoleDaprDemo.dll
Demo/ConsoleDaprDemo/.vs/ConsoleDaprDemo/v17/.suo
