################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


Demo/ConsoleDaprDemo/obj/Debug/net6.0/refint/ConsoleDaprDemo.dll
Demo/ConsoleDaprDemo/bin/Debug/net6.0/ConsoleDaprDemo.dll
Demo/ConsoleDaprDemo/bin/Debug/net6.0/ConsoleDaprDemo.pdb
Demo/ConsoleDaprDemo/obj/Debug/net6.0/ConsoleDaprDemo.dll
Demo/ConsoleDaprDemo/obj/Debug/net6.0/ConsoleDaprDemo.pdb
Demo/ConsoleDaprDemo/obj/Debug/net6.0/ref/ConsoleDaprDemo.dll
Demo/ConsoleDaprDemo/obj/Debug/net6.0/refint/ConsoleDaprDemo.dll
Demo/ConsoleDaprDemo/.vs/ConsoleDaprDemo/v17/.suo
/Demo/ConsoleDaprDemo/.vs/ConsoleDaprDemo/v17/.suo
/Demo/ConsoleDaprDemo/.vs/ConsoleDaprDemo/DesignTimeBuild/.dtbcache.v2
/Demo/ConsoleDaprDemo/.vs/ConsoleDaprDemo/FileContentIndex/8b9cf008-06c4-4690-a770-3c4313547fb7.vsidx
/Demo/ConsoleDaprDemo/.vs/ConsoleDaprDemo/FileContentIndex/efc68524-f49f-4b61-81a7-81702db6a823.vsidx
/Demo/ConsoleDaprDemo/bin/Debug/net6.0/ConsoleDaprDemo.dll
/Demo/ConsoleDaprDemo/bin/Debug/net6.0/ConsoleDaprDemo.pdb
/Demo/ConsoleDaprDemo/obj/Debug/net6.0/ConsoleDaprDemo.dll
*.vsidx
/Demo/ConsoleDaprDemo/obj/Debug/net6.0/ConsoleDaprDemo.pdb
/Demo/ConsoleDaprDemo/.vs/ConsoleDaprDemo/v17/.futdcache.v2
/Demo/ConsoleDaprDemo/.vs/ProjectEvaluation
*.v2
*.lock
*.suo
/Demo/DaprMultiContainer/DaprMultiContainer/.vs/ProjectEvaluation
/Demo/DaprMultiContainer/DaprMultiContainer/bin/Debug
/Demo/DaprMultiContainer/DaprMultiContainer/MyBackEnd/bin/Debug/net6.0
/Demo/DaprMultiContainer/DaprMultiContainer/MyBackEnd/obj
/Demo/DaprMultiContainer/DaprMultiContainer/MyFrontEnd/bin/Debug/net6.0
/Demo/DaprMultiContainer/DaprMultiContainer/MyFrontEnd/obj
/Demo/DaprMultiContainer/DaprMultiContainer/obj
